.TodoList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  margin: 0 3rem;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    justify-content: center;
  }
}
