iframe {
  display: none;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #d3d3d3;
}

.App {
  text-align: center;

  &__title {
    font-size: 3rem;
    margin: 40px 0;
  }
}
